
// modificador de colores
.bg-primary{
    background: #FFC800 !important;
}

.bg-secondary{
    background-color: #FF9600 !important;
}



//imagenes que estan en las cards
.img-personas{
    width: 100px;
    margin-top: -105px;
    margin-left: 0px;
}



.icono{
    font-size: 2.2rem;
    color: #0E50DD;
}

@media (min-width: 768px) {

}


@media (min-width: 1200px) {

  }
