
// modificador de colores
.bg-primary{
    background: #58CC02 !important;
}

.bg-secondary{
    background-color: #CE82FF !important;
}

.card-body{
    border-radius: 20px;
    height: 20rem;
}


.card-icono{
    font-size: 2.8rem;
    color: #703E9C;
}