.bg-primary{
    background-color: #58CC02 !important ;
}

.bg-secondary{
    background-color: #CE82FF !important;
}

.header-unete{
    height: 22vh;
}


.card-body{
    height: 40vh;
    border-radius: 20px !important;
}






.card-icono{
    font-size: 2.8rem;
    color: #455580;
}